
@media (min-width: 981px) {
    .mobile-screen{display:none;}
}

.desktop-screen {width:100vw;}
.desktop-background {width:100vw; height:100vh; z-index:-1; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../static/img/main_bg.png"); background-size:cover; background-position:center; position:fixed; top:0; left:0;}

.desktop-header{width:100vw; height:6vh; position:fixed; top:0; left:0; z-index:3; background:white;}
.desktop-header .header-wrap{width:54vw; margin:auto; display:flex; justify-content:space-between; align-items:center;}
.desktop-header #desktop-logo{background:url("../static/img/westagram-logo.jpg"); background-size:contain; background-repeat:no-repeat; background-position:center; width:9vw; height:6vh;}
.desktop-header #search-bar{width:18vw; height:4vh; border:1px solid lightgray; background:rgb(245, 245, 245); display:flex; justify-content:center; align-content:center;}
.desktop-header #search-bar input{width:17vw; font-size:medium; padding:1%; outline:none; border:none; background:rgb(245, 245, 245);}
.desktop-header #desktop-navi{width:14vw; display:flex; justify-content: space-between;}
.desktop-header #desktop-navi div{cursor:pointer;}
.desktop-header #desktop-navi .home{width:2vw; height:3vh; background: url("./img/home@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .dm{width:2vw; height:3vh; background: url("./img/dm@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .trending{width:2vw; height:3vh; background: url("./img/trending@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .bookmark{width:2vw; height:3vh; background: url("./img/favorite@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .more-info{width:1vw; height:3vh; background: url("./img/more@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}

.modal_overlay {width: 100%; height: 100%; position: fixed; left: 0; top: 0; display: none; z-index: 10; flex-direction: column; align-items: center; justify-content: center; background: rgba(0, 0, 0, 0.8); backdrop-filter: blur(1.5px); -webkit-backdrop-filter: blur(1.5px);}
.modal_window {background: white; backdrop-filter: blur(13.5px); -webkit-backdrop-filter: blur(13.5px); border-radius: 10px; border: 1px solid rgba(255, 255, 255, 0.18); width: 800px; height: 600px; position: relative; padding: 10px;}
.modal_header {display: flex; flex-direction: row; justify-content: space-between;}
.modal_blank {width: 40px;}
.modal_title {font-weight: bolder;}
.img_upload_space {width:98%; height:93%; margin: 8px auto 8px auto; border: 2px dotted; display:table; text-align: center;}
#upload_feed_text {display:table-cell; vertical-align: middle;}
.material-icons-outlined {cursor:pointer;}
.upload_feed_container {display: flex; width:98%; height:93%; margin: 8px auto 8px auto;}
#second_img_area {flex:2; width:100%; height:98%; margin: 8px auto 8px auto; border:1px solid lightgray;}
.img_description {flex:1; padding:10px;}
.img_description #feed_desc {width:248px; height:200px; align-self:center; border: 1px solid gray; border-radius: 3px; outline: none;}
#feed_create_button {width:252px; height:32px; margin: 16px auto; background:lightgray;}
#feed_create_button button {width:100%; height:100%; cursor:pointer;}


.all-items{width:56vw; margin: 10vh auto; background:rgb(235,235,235); opacity: 0.9; border-radius:2%;}
.mypage-profile-container{width:90%; height:24vh; padding:2%; margin:auto; border-bottom:1px solid gray; display:flex; justify-content:space-between;}
.mypage-profile-container .mypage-profile-img{flex:2; display:flex; justify-content:center; align-items:center;}
.mypage-profile-container .mypage-profile-img img{width:75; height:80%; border-radius:100%; object-fit:cover;}
.mypage-profile-container .mypage-myprofile{flex:3; margin:auto;}
.mypage-profile-container .mypage-myprofile h1,h3{font-weight:lighter;}
.mypage-profile-container .mypage-myprofile h2{position:relative; top:-2vh;}
.mypage-profile-container #profile-blank{flex:1;}

.mypage-feeds-container{width:90%; padding:2%; margin:auto;}
.mypage-feeds-container .mypage-feeds-tab{width:35%; height:3vh; margin: auto; display:flex;}
.mypage-feeds-container .mypage-feeds-tab div{display:flex; flex:1; justify-content:center; align-items:center; cursor:pointer;}
.mypage-feeds-container .mypage-feeds{width:90%; margin:3vh auto; display:flex; justify-content:space-between; align-items:center;}
.mypage-feeds-container .mypage-feeds .feeds-preview{margin:auto; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -moz-column-gap: 1em; -webkit-column-gap: 1em; column-gap: 1em;}
.mypage-feeds-container .mypage-feeds .feeds-preview .mypage-feed-pic{flex:1; display:flex; justify-content:space-between; align-items:center;}
.mypage-feeds-container .mypage-feeds .feeds-preview .mypage-feed-pic img{width:88%; height:100%; flex:1; padding:5%; object-fit:cover; cursor: pointer;}


@media (max-width: 981px) {
    .desktop-screen{display:none;}
}




