

.mobile-screen {width: 90vw; height: 95vh; margin: auto;}

.navi {width: 90vw; height: 7vh; position: fixed; z-index: 3; top: 0; left: auto; display: flex; align-items: center; justify-content: space-between; padding: 2%; background: white;}
.navi #camera {width: 5vw; height: 6vh; background: url("./img/camera@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none;}
.navi #instagram {width: 18vw; height: 6vh; background: url("./img/insta-logo.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none;}
.navi #mypage {width: 5vw; height: 6vh; background: url("./img/dm@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none;}

.feed-head {width: 90vw; height: 8vh; display: flex; align-items: center; justify-content: space-between;}
.feed-head .user-profile {display: flex; align-items: center; padding: 2%;}
.feed-head .user-profile #user-pic1 {width: 5vw; height: 4vh; background: url("./img/pic1.png"); background-size: cover; background-position: center; border-radius: 100%;}
.feed-head .user-profile #user-pic2 {width: 5vw; height: 4vh; background: url("./img/pic2.jpg"); background-size: cover; background-position: center; border-radius: 100%;}
.feed-head .more-info {width: 4vw; height: 2vh; margin-right: 2vh; background: url("./img/more@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center;}

.feed-pic {width: 90vw; height: 50vh; background: url("./img/feed_pic1.jpg"); background-size: cover; background-position: center;}

.feed-footer {width: 90vw; height: 8vh; display: flex; justify-content: space-between;}
.feed-footer .feed-icons {width: 30vw; height: 8vh; display: flex;}
.feed-footer .feed-icons .feed-like {width: 5vw; height: 7vh; background: url("./img/like@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none; margin-left: 3vw;}
.feed-footer .feed-icons .feed-comment {width: 5vw; height: 7vh; background: url("./img/comment@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none; margin-left: 3vw;}
.feed-footer .feed-icons .feed-dm {width: 5vw; height: 7vh; background: url("./img/dm@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none; margin-left: 3vw;}
.feed-footer .save-feed {width: 5vw; height: 7vh; background: url("./img/favorite@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none; margin-right: 3vw;}

.feed-profile {display: flex; align-items: center; margin-left: 2vw;}
.feed-profile #feed-user-pic1 {width: 4vw; height: 3vh; background: url("./img/pic1.png"); background-size: cover; background-position: center; border-radius: 100%;}
.feed-profile #feed-user-pic2 {width: 4vw; height: 3vh; background: url("./img/pic2.jpg"); background-size: cover; background-position: center; border-radius: 100%;}

.feed-reply {margin-left: 2vw;}
.time-checker {margin: 5vh 2vw; font-size: small; color: gray;}
.blank {width: 90vw; height: 10vh;}



.footer {width: 90vw; height: 7vh; position: fixed; z-index: 3; bottom: 0; left: auto; display: flex; align-items: center; justify-content: space-between; padding: 2%; background: white;}
.footer .home {width: 5vw; height: 6vh; background: url("./img/home@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.footer .search {width: 5vw; height: 6vh; background: url("./img/search@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.footer .trending {width: 5vw; height: 6vh; background: url("./img/trending@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.footer .like {width: 5vw; height: 6vh; background: url("./img/like@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}


@media (min-width: 981px) {
    .mobile-screen{display:none;}
}

.desktop-screen {width:100vw;}
.desktop-background {width:100vw; height:100vh; z-index:-1; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../static/img/main_bg.png"); background-size:cover; background-position:center; position:fixed; top:0; left:0;}

.desktop-header{width:100vw; height:6vh; position:fixed; top:0; left:0; z-index:3; background:white;}
.desktop-header .header-wrap{width:54vw; margin:auto; display:flex; justify-content:space-between; align-items:center;}
.desktop-header #desktop-logo{background:url("../static/img/westagram-logo.jpg"); background-size:contain; background-repeat:no-repeat; background-position:center; width:9vw; height:6vh;}
.desktop-header #search-bar{width:18vw; height:4vh; border:1px solid lightgray; background:rgb(245, 245, 245); display:flex; justify-content:center; align-content:center;}
.desktop-header #search-bar input{width:17vw; font-size:medium; padding:1%; outline:none; border:none; background:rgb(245, 245, 245);}
.desktop-header #desktop-navi{width:14vw; display:flex; justify-content: space-between;}
.desktop-header #desktop-navi div{cursor:pointer;}
.desktop-header #desktop-navi .home{width:2vw; height:3vh; background: url("./img/home@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .dm{width:2vw; height:3vh; background: url("./img/dm@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .trending{width:2vw; height:3vh; background: url("./img/trending@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .bookmark{width:2vw; height:3vh; background: url("./img/favorite@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .more-info{width:1vw; height:3vh; background: url("./img/more@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}

.modal_overlay {width: 100%; height: 100%; position: fixed; left: 0; top: 0; display: none; z-index: 10; flex-direction: column; align-items: center; justify-content: center; background: rgba(0, 0, 0, 0.8); backdrop-filter: blur(1.5px); -webkit-backdrop-filter: blur(1.5px);}
.modal_window {background: white; backdrop-filter: blur(13.5px); -webkit-backdrop-filter: blur(13.5px); border-radius: 10px; border: 1px solid rgba(255, 255, 255, 0.18); width: 800px; height: 600px; position: relative; padding: 10px;}
.modal_header {display: flex; flex-direction: row; justify-content: space-between;}
.modal_blank {width: 40px;}
.modal_title {font-weight: bolder;}
.img_upload_space {width:98%; height:93%; margin: 8px auto 8px auto; border: 2px dotted; display:table; text-align: center;}
#upload_feed_text {display:table-cell; vertical-align: middle;}
.material-icons-outlined {cursor:pointer;}
.upload_feed_container {display: flex; width:98%; height:93%; margin: 8px auto 8px auto;}
#second_img_area {flex:2; width:100%; height:98%; margin: 8px auto 8px auto; border:1px solid lightgray;}
.img_description {flex:1; padding:10px;}
.img_description #feed_desc {width:248px; height:200px; align-self:center; border: 1px solid gray; border-radius: 3px; outline: none;}
#feed_create_button {width:252px; height:32px; margin: 16px auto; background:lightgray;}
#feed_create_button button {width:100%; height:100%; cursor:pointer;}


.all-items{width:55vw; margin:auto; display:flex; justify-content:space-between;}

.contents-line{width:32vw;}

.desktop-feed-box{margin: 30vh auto; width: 32vw; height: 86vh; background:rgb(235,235,235); opacity: 0.9; border-radius:1%;}
.desktop-feed-head {width: 100%; height: 8vh; display: flex; align-items: center; justify-content: space-between;}
.desktop-feed-head .desktop-user-profile {display: flex; align-items: center; padding: 2%; color:rgb(15,15,15)}
.desktop-feed-head .desktop-user-profile #desktop-user-pic1 {width: 2vw; height: 4vh; background: url("https://i.imgur.com/IXic2Jl.jpg"); background-size: cover; background-position: center; border-radius: 100%;}
.desktop-feed-head .feed-more-info {width: 1vw; height: 2vh; margin-right: 3vh; background: url("./img/more@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center;}
#desktop-feed-pic {width: 100%; height: 50vh;}
#desktop-feed-pic img {width:100%; height:100%; object-fit:cover;}



.desktop-feed-bottom {width:100%; height:24vh;}
.desktop-feed-footer {width:100%; height: 7vh; display: flex; justify-content: space-between; align-items:center;}
.desktop-feed-footer .desktop-feed-icons {width: 95%; height: 8vh; display: flex; align-items:center; margin-left:1vw; color:rgb(15,15,15)}
.desktop-feed-footer .desktop-feed-icons .desktop-feed-like {width: 2vw; height: 4vh; background: url("./img/like@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none;}
.desktop-feed-footer .desktop-feed-icons .desktop-feed-comment {width: 2vw; height: 4vh; background: url("./img/comment@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none; margin-left:1vw;}
.desktop-feed-footer .desktop-feed-icons .desktop-feed-dm {width: 2vw; height: 4vh; background: url("./img/dm@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none; margin-left:1vw;}
.desktop-feed-footer .desktop-save-feed {width: 2vw; height: 4vh; background: url("./img/favorite@3x.png"); background-size: contain; background-repeat: no-repeat; background-position: center; border: none; margin-right:1vw;}

.desktop-feed-profile {display: flex; align-items: center; margin-left: 1vw; color:rgb(15,15,15)}
.desktop-feed-profile #desktop-feed-user-pic {width: 2vw; height: 3vh; background: url("https://i.imgur.com/IXic2Jl.jpg"); background-size: cover; background-position: center; border-radius: 100%;}

.desktop-feed-reply {margin-left: 1vw; color:rgb(15,15,15)}
.desktop-time-checker {margin: 5vh 1vw; font-size: small; color: gray;}
.desktop-blank{height:4vh;}



.user-suggestion-line {width:18vw; margin-top:8vh; position:fixed; top:0; left:59%;}
.user-suggestion-line .user-container{width:18vw; height:6vh; display:flex; flex-direction:row; text-align:start; align-items:center; margin:auto; padding:1%;}
.user-suggestion-line .user-container .profile-img{width:3vw; height:5vh; border-radius:100%; overflow:hidden; flex:1;}
.user-suggestion-line .user-container .profile-img img{width:100%; height:100%; object-fit:cover;}
.user-suggestion-line .user-container .profile-desc{flex:4; margin-left:1vw;}
.user-suggestion-line .user-container .profile-desc .profile-nickname{color:black; font-size: larger;}
.user-suggestion-line .user-container .profile-desc .profile-name{color:gray;}
.user-suggestion-line .user-container #switch{width:3vw; height:7vh; flex:1; border-style:none; background:rgb(245, 245, 245); justify-content: flex-end;}
.user-suggestion-line .user-container #switch #switch-text{color: rgb(0, 81, 255); font-size: 13px; cursor:pointer;}

.user-suggestion-line #suggestion{width:18vw; height:5vh; margin:2%; display:flex; justify-content:space-between; align-items:center;}
.user-suggestion-line #suggestion-text{flex:3; color:lightslategray; font-size:medium; font-weight:bolder;}
.user-suggestion-line #suggestion-button{flex:1; border:none; font-weight:bolder; background: rgb(245, 245, 245);}
.user-suggestion-line #suggestion-button span{color: black; font-size:medium;}

.user-suggestion-line .suggestion-candidate{width:18vw; height:5vh; display: flex; flex-direction: row; text-align: start; align-items:center; margin:auto; padding:1%;}
.user-suggestion-line .suggestion-candidate .candidate-img{width:2vw; height:4vh; border-radius:100%; overflow:hidden; flex:1;}
.user-suggestion-line .suggestion-candidate .candidate-img img{width:100%; height:100%; object-fit:cover;}
.user-suggestion-line .suggestion-candidate .candidate-desc{flex:5; margin-left:1vw;}
.user-suggestion-line .suggestion-candidate .candidate-desc .candidate-nickname{font-size:medium;}
.user-suggestion-line .suggestion-candidate .candidate-desc .candidate-issue{font-size:smaller; color:gray;}
.user-suggestion-line .suggestion-candidate .follow-button{width:2vw; height:5vh; flex:1; border-style: none; background: rgb(245, 245, 245); justify-content: flex-end;}
.user-suggestion-line .suggestion-candidate .follow-button span{color: rgb(0, 81, 255); font-size:13px;}

@media (max-width: 981px) {
    .desktop-screen{display:none;}
}




