
@media (min-width: 981px) {
    .mobile-screen{display:none;}
}

.desktop-screen {width:100vw;}
.desktop-background {width:100vw; height:100vh; z-index:-1; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../static/img/main_bg.png"); background-size:cover; background-position:center; position:fixed; top:0; left:0;}

.desktop-header{width:100vw; height:6vh; position:fixed; top:0; left:0; z-index:3; background:white;}
.desktop-header .header-wrap{width:54vw; margin:auto; display:flex; justify-content:space-between; align-items:center;}
.desktop-header #desktop-logo{background:url("../static/img/westagram-logo.jpg"); background-size:contain; background-repeat:no-repeat; background-position:center; width:9vw; height:6vh; cursor:pointer;}
.desktop-header #search-bar{width:18vw; height:4vh; border:1px solid lightgray; background:rgb(245, 245, 245); display:flex; justify-content:center; align-content:center;}
.desktop-header #search-bar input{width:17vw; font-size:medium; padding:1%; outline:none; border:none; background:rgb(245, 245, 245);}
.desktop-header #desktop-navi{width:14vw; display:flex; justify-content: space-between;}
.desktop-header #desktop-navi div{cursor:pointer;}
.desktop-header #desktop-navi .home{width:2vw; height:3vh; background: url("./img/home@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .dm{width:2vw; height:3vh; background: url("./img/dm@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .trending{width:2vw; height:3vh; background: url("./img/trending@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .bookmark{width:2vw; height:3vh; background: url("./img/favorite@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}
.desktop-header #desktop-navi .more-info{width:1vw; height:3vh; background: url("./img/more@3x.png"); background-size:contain; background-repeat:no-repeat; background-position:center; border:none;}

.modal_overlay {width: 100%; height: 100%; position: fixed; left: 0; top: 0; display: none; z-index: 10; flex-direction: column; align-items: center; justify-content: center; background: rgba(0, 0, 0, 0.8); backdrop-filter: blur(1.5px); -webkit-backdrop-filter: blur(1.5px);}
.modal_window {width: 24vw; background: white; backdrop-filter: blur(13.5px); -webkit-backdrop-filter: blur(13.5px); border-radius: 10px; border: 1px solid rgba(255, 255, 255, 0.18); position: relative; padding: 10px; z-index:5;}
.modal_header {height:3vh; padding:2%; display: flex; flex-direction: row; justify-content: space-between; border-bottom:1px solid lightgray;}
.modal_blank {width: 40px;}
.modal_title {font-weight: bolder;}
.material-icons-outlined {cursor:pointer;}

.profile-modify-container {width:24vw;}
.profile-modify-area {width:24vw; height:12vh; margin-top:2vh; display:flex; align-items:center;}
.profile-modify-area .profile-modify-img {width:5vw; height:9vh; margin-left:1vw; border-radius:100%; overflow:hidden;}
.profile-modify-area .profile-modify-img img {width:100%; height:100%; object-fit:cover;}
.profile-modify-area #profile-modify-items {width:15vw; margin-top:2vh; margin-left:1vw; display:flex; flex-direction: column;}
.modal-font {font-size:smaller; font-weight:bolder;}
.profile-modify-area #profile-modify-items input {width:80%; height:30%; cursor:pointer;}
.profile-modify-area #profile-modify-items button {width:80%; height:30%; cursor:pointer;}
.profile-modify-area #profile-modify-items div {position:relative; top:-2vh;}
.nc-1 {width:80%; display:flex; align-content:center;}
.nc-1 p {flex:3; font-size:medium;}
.nc-1 button{flex:1; align-self:center;}
.nc-2 {width:80%; display:none; align-content:center;}
.nc-2 input {flex:3; margin-top:1rem; height:1rem; outline:none;}
.nc-2 button{flex:1; align-self:center; margin-top:1rem; height:1rem;}

#self_introduce_text {display:block; margin-top:2vh; margin-left:1vw; font-size:smaller; font-weight:bolder;}
#self_introduce {width:22vw; margin-left:1vw; border:1px solid gray; border-radius:3px; outline: none;}
.modal_buttons{width:6.2vw; margin:auto; display:flex; justify-content:space-between;}
#modify{width:3vw; height:3vh; background:dodgerblue; color:white; border:none; border-radius:5px; cursor:pointer;}
#cancel{width:3vw; height:3vh; background:white; color:black; border:1px solid lightgray; border-radius:5px; cursor:pointer;}




.all-items{width:56vw; margin: 10vh auto; background:rgb(235,235,235); opacity: 0.9; border-radius:2%;}
.mypage-profile-container{width:90%; height:24vh; padding:2%; margin:auto; border-bottom:1px solid gray; display:flex; justify-content:space-between;}
.mypage-profile-container .mypage-profile-img{flex:2; display:flex; justify-content:center; align-items:center;}
.mypage-profile-container .mypage-profile-img img{width:70%; height:80%; border-radius:100%; object-fit:cover;}
.mypage-profile-container .mypage-myprofile{flex:3; margin:auto;}
.mypage-profile-container .mypage-myprofile .p1-wrap{height: 6vh;display:flex; justify-content:space-between; align-items:center;}
.mypage-profile-container .mypage-myprofile .p1-wrap button{height:3vh; background:ghostwhite; border: 1px solid lightgray; border-radius:10%; cursor:pointer;}
.mypage-profile-container .mypage-myprofile h1{font-weight:lighter;}
.mypage-profile-container .mypage-myprofile h3{font-weight: bolder;}
.mypage-profile-container .mypage-myprofile h4{font-weight:lighter; position:relative; top:-1vh;}
.mypage-profile-container #profile-blank{flex:2;}

.mypage-feeds-container{width:90%; padding:2%; margin:auto;}
.mypage-feeds-container .mypage-feeds-tab{width:35%; height:3vh; margin: auto; display:flex;}
.mypage-feeds-container .mypage-feeds-tab div{display:flex; flex:1; justify-content:center; align-items:center; cursor:pointer;}
.mypage-feeds-container .mypage-feeds{width:90%; margin:3vh auto; display:flex; align-items:center; flex-flow:wrap;}
.mypage-feeds-container .mypage-feeds .feeds-preview{width:calc((100%-0.1vw)/3); display:flex;}
.mypage-feeds-container .mypage-feeds .feeds-preview .mypage-feed-pic{width:14vw; height:24vh; margin: 1vh auto; justify-content:center; align-content:center;}
.mypage-feeds-container .mypage-feeds .feeds-preview .mypage-feed-pic img{width:90%; height:90%; padding:5%; object-fit:cover;}


@media (max-width: 981px) {
    .desktop-screen{display:none;}
}




