<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Instagram</title>
    <link rel="stylesheet" href="../static/style.css">


</head>
<body>
<div class="mobile-screen">
    <div class="navi">
        <div id="camera"></div>
        <div id="instagram"></div>
        <div id="mypage"></div>
    </div>

    <div class="story-box">
        <div class="story">
            <div id="story_container1"><img id="story_1" src="https://i.imgur.com/TQPuy8w.png"></div>
            <p>내 스토리</p>
        </div>
        <div class="story">
            <div id="story_container2"><img id="story_2" src="https://i.imgur.com/u6uhxyZ.jpg"></div>
            <p>얘 스토리</p>
        </div>
        <div class="story">
            <div id="story_container3"><img id="story_3" src="https://i.imgur.com/Sm7sTVK.jpg"></div>
            <p>쟤 스토리</p>
        </div>
        <div class="story">
            <div id="story_container4"><img id="story_4" src="https://i.imgur.com/5CTlfDs.jpg"></div>
            <p>티 스토리</p>
        </div>
        <div class="story">
            <div id="story_container5"><img id="story_5" src="https://i.imgur.com/RcIxAYo.jpg"></div>
            <p>메이플 스토리</p>
        </div>
    </div>

    <div class="feed-head">
        <div class="user-profile">
            <div id="user-pic1"></div>
            <p><span style="font-weight: bolder;">　이용자</span></p>
        </div>
        <div class="more-info"></div>
    </div>

    <div class="feed-pic"></div>

    <div class="feed-footer">
        <div class="feed-icons">
            <div class="feed-like"></div>
            <div class="feed-comment"></div>
            <div class="feed-dm"></div>
        </div>
        <div class="save-feed"></div>
    </div>
    <div class="feed-profile">
        <div id="feed-user-pic1"></div>
        <p><span style="font-weight: bolder;">　이용자</span>님 <span style="font-weight: bolder;">외 6,671명</span>이 좋아합니다</p>
    </div>

    <div class="feed-reply"><span style="font-weight: bolder;">이용자</span> 안녕하세요</div>
    <div class="time-checker">5시간 전</div>


    <div class="feed-head">
        <div class="user-profile">
            <div id="user-pic2"></div>
            <p><span style="font-weight: bolder;">　최용자</span></p>
        </div>
        <div class="more-info"></div>
    </div>

    <div class="feed-pic"></div>

    <div class="feed-footer">
        <div class="feed-icons">
            <div class="feed-like"></div>
            <div class="feed-comment"></div>
            <div class="feed-dm"></div>
        </div>
        <div class="save-feed"></div>
    </div>
    <div class="feed-profile">
        <div id="feed-user-pic2"></div>
        <p><span style="font-weight: bolder;">　최용자</span>님 <span style="font-weight: bolder;">외 6,671명</span>이 좋아합니다</p>
    </div>

    <div class="feed-reply"><span style="font-weight: bolder;">최용자</span> 안녕하세요</div>
    <div class="time-checker">5시간 전</div>

    <div class="blank"></div>

    <div class="footer">
        <div class="home"></div>
        <div class="search"></div>
        <div class="trending"></div>
        <div class="like"></div>
        <div class="home"></div>
    </div>
</div>


<div class="desktop-screen">
    <div class="desktop-header">
        <div class="header-wrap">
            <div id="desktop-logo"></div>
            <div id="search-bar"><input type="text" placeholder="검색"></div>
            <div id="desktop-navi">
                <div class="home"></div>
                <div class="dm"></div>
                <div class="trending"></div>
                <div class="like"></div>
                <div class="more-info"></div>
            </div>
        </div>
    </div>

    <div class="all-items">
        <div class="contents-line">
            <div class="story-box">
                <div class="story">
                    <div id="desktop_story_container1"><img id="desktop_story_1" src="https://i.imgur.com/IXic2Jl.jpg"></div>
                    <p>내 스토리</p>
                </div>
                <div class="story">
                    <div id="desktop_story_container2"><img id="desktop_story_2" src="https://i.imgur.com/u6uhxyZ.jpg"></div>
                    <p>얘 스토리</p>
                </div>
                <div class="story">
                    <div id="desktop_story_container3"><img id="desktop_story_3" src="https://i.imgur.com/Sm7sTVK.jpg"></div>
                    <p>쟤 스토리</p>
                </div>
                <div class="story">
                    <div id="desktop_story_container4"><img id="desktop_story_4" src="https://i.imgur.com/5CTlfDs.jpg"></div>
                    <p>티 스토리</p>
                </div>
                <div class="story">
                    <div id="desktop_story_container5"><img id="desktop_story_5" src="https://i.imgur.com/RcIxAYo.jpg"></div>
                    <p>메이플 스토리</p>
                </div>
            </div>

            <div class="desktop-feed-head">
                <div class="desktop-user-profile">
                    <div id="desktop-user-pic1"></div>
                    <p><span style="font-weight: bolder;">　tomntoms</span></p>
                </div>
                <div class="feed-more-info"></div>
            </div>

            <div id="desktop-feed-pic"></div>

            <div class="desktop-feed-bottom">
                <div class="desktop-feed-footer">
                    <div class="desktop-feed-icons">
                        <div class="desktop-feed-like"></div>
                        <div class="desktop-feed-comment"></div>
                        <div class="desktop-feed-dm"></div>
                    </div>
                    <div class="desktop-save-feed"></div>
                </div>

                <div class="desktop-feed-profile">
                    <div id="desktop-feed-user-pic1"></div>
                    <p><span style="font-weight: bolder;">　tomntoms</span>님 <span style="font-weight:bolder;">외 5,671명</span>이 좋아합니다</p>
                </div>

                <div class="desktop-feed-reply"><span style="font-weight: bolder;">tomntoms</span> 안녕하세요</div>
                <div class="desktop-time-checker">5시간 전</div>
            </div>
            <div class="desktop-blank"></div>


            <div class="desktop-feed-head">
                <div class="desktop-user-profile">
                    <div id="desktop-user-pic2"></div>
                    <p><span style="font-weight: bolder;">　santa</span></p>
                </div>
                <div class="feed-more-info"></div>
            </div>

            <div id="desktop-feed-pic2"></div>

            <div class="desktop-feed-bottom">
                <div class="desktop-feed-footer">
                    <div class="desktop-feed-icons">
                        <div class="desktop-feed-like"></div>
                        <div class="desktop-feed-comment"></div>
                        <div class="desktop-feed-dm"></div>
                    </div>
                    <div class="desktop-save-feed"></div>
                </div>

                <div class="desktop-feed-profile">
                    <div id="desktop-feed-user-pic2"></div>
                    <p><span style="font-weight: bolder;">　santa</span>님 <span style="font-weight:bolder;">외 93,684명</span>이 좋아합니다</p>
                </div>

                <div class="desktop-feed-reply"><span style="font-weight: bolder;">santa</span> merry-christmas</div>
                <div class="desktop-time-checker">7시간 전</div>
            </div>
            <div class="desktop-blank"></div>
        </div>

        <div class="user-suggestion-line">
            <div class="user-container">
                <div class="profile-img">
                    <img class="profile" src="https://i.imgur.com/IXic2Jl.jpg">
                </div>
                <div class="profile-desc">
                    <div class="profile-nickname">tomntoms</div>
                    <div class="profile-name">톰사장</div>
                </div>
                <button id="switch" style="">
                    <span id="switch-text">전환</span>
                </button>
            </div>

            <div id="suggestion">
                <div id="suggestion-text">회원님을 위한 추천</div>
                <button id="suggestion-button">
                    <span>모두 보기</span>
                </button>
            </div>

            <div>
                <div class="suggestion-candidate">
                    <div class="candidate-img">
                        <img src="https://i.imgur.com/doPF2xK.jpg">
                    </div>
                    <div class="candidate-desc">
                        <div class="candidate-nickname">jerry_theKing</div>
                        <div class="candidate-issue">회원님을 놀리려합니다.</div>
                    </div>
                    <button class="follow-button">
                        <span>팔로우</span>
                    </button>
                </div>
                <div class="suggestion-candidate">
                    <div class="candidate-img">
                        <img src="https://i.imgur.com/FMKfMwv.png">
                    </div>
                    <div class="candidate-desc">
                        <div class="candidate-nickname">lovely_kitty</div>
                        <div class="candidate-issue">회원님을 유혹하려합니다.</div>
                    </div>
                    <button class="follow-button">
                        <span>팔로우</span>
                    </button>
                </div>
                <div class="suggestion-candidate">
                    <div class="candidate-img">
                        <img src="https://i.imgur.com/yj8JnrI.jpg">
                    </div>
                    <div class="candidate-desc">
                        <div class="candidate-nickname">fear_me365</div>
                        <div class="candidate-issue">회원님을 조지려합니다.</div>
                    </div>
                    <button class="follow-button">
                        <span>팔로우</span>
                    </button>
                </div>
                <div class="suggestion-candidate">
                    <div class="candidate-img">
                        <img src="https://i.imgur.com/Mp0s1AP.jpg">
                    </div>
                    <div class="candidate-desc">
                        <div class="candidate-nickname">creator_god</div>
                        <div class="candidate-issue">회원님을 만들었습니다.</div>
                    </div>
                    <button class="follow-button">
                        <span>팔로우</span>
                    </button>
                </div>
                <div class="suggestion-candidate">
                    <div class="candidate-img">
                        <img src="https://i.imgur.com/nOQxE7S.jpg">
                    </div>
                    <div class="candidate-desc">
                        <div class="candidate-nickname">corejemjem1522</div>
                        <div class="candidate-issue">회원님을 팔로우합니다.</div>
                    </div>
                    <button class="follow-button">
                        <span>팔로우</span>
                    </button>
                </div>
            </div>

            <div style="text-align: left; margin-top: 16px;">
                <div style="color:darkgray; font-size:10px;">소개 · 도움말 · 홍보센터 · API · 채용정보</div>
                <div style="color:darkgray; font-size:10px;">개인정보 처리방침 · 약관 · 위치 · 인기 계정 · 해시태그 · 언어</div>
                <div>　</div>
                <div style="color:darkgray; font-size:10px;">ⓒ 2021 Instagram from Meta</div>
            </div>
        </div>
    </div>
</div>


</body>
</html>