<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mypage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../static/mypage_style.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
</head>

<body>
<div class="desktop-screen">
    <div class="desktop-background"></div>
    <div class="desktop-header">
        <div class="header-wrap">
            <div id="desktop-logo" onclick="backhome()"></div>
            <div id="search-bar"><input type="text" placeholder="검색"></div>
            <div id="desktop-navi">
                <div class="home" onclick="backhome()"></div>
                <div class="dm"></div>
                <div class="trending"></div>
                <div class="bookmark"></div>
                <div class="more-info"></div>
            </div>
        </div>
    </div>

    <div class="modal_overlay" id="profile-modify-screen">
        <div class="modal_window">
            <div class="modal_header">
                <div class="modal_blank"></div>
                <div class="modal_title">프로필 편집</div>
                <div><span class="material-icons-outlined">close</span></div>
            </div>
            <div class="profile-modify-container">
                <div class="profile-modify-area">
                    <div class="profile-modify-img">
                        <img src="{{ my_profile_img }}">
                    </div>
                    <div id="profile-modify-items">
                        <p class="modal-font">#프로필사진 변경</p>
                        <input type="file" id="file">
                        <p class="modal-font">#닉네임변경</p>
                        <div class="nc-1">
                            <p>{{ my_nickname }}</p>
                            <button onclick="modify_nickname()">변경</button>
                        </div>
                        <div class="nc-2">
                            <input id="input-nickname" type="text" value="{{ my_nickname }}">
                            <button onclick="confirm_nickname()">확인</button>
                        </div>
                    </div>
                </div>
                <p id="self_introduce_text">#자기소개</p>
                <textarea id="self_introduce" rows="7">{{ self_introduce }}</textarea>
            </div>
            <div class="modal_buttons">
                <button id="modify" onclick="modify()">변경</button>
                <button id="cancel" onclick="cancel()">취소</button>
            </div>
        </div>
    </div>

    <div class="all-items">
        <div class="mypage-profile-container">
            <div class="mypage-profile-img">
                <img src="{{ my_profile_img }}">
            </div>
            <div class="mypage-myprofile">
                <div class="p1-wrap">
                    <h1> {{ my_nickname }}</h1>
                    <button id="profile-modify">프로필편집</button>
                </div>
                <h4>게시물 {{ my_feeds_num }}　　　팔로워 　　　팔로우</h4>
                <h3> {{ my_name }}</h3>
                <h4>{{ self_introduce }}</h4>
            </div>
            <div id="profile-blank">　</div>
        </div>

        <div class="mypage-feeds-container">
            <div class="mypage-feeds-tab">
                <div id="mypage-myfeeds"><span class="material-icons-outlined">apps</span>게시물</div>
                <div id="mypage-favorites"><span class="material-icons-outlined">bookmark_border</span>저장됨</div>
            </div>

            <div class="mypage-feeds">
                {% for feed in my_feeds %}
                <div class="feeds-preview">
                        <div class="mypage-feed-pic">
                            <img src="{{ feed.image_id }}">
                        </div>
                </div>
                {% endfor %}
            </div>


            <div class="mypage-favorite-feeds">
                <div class="favorite-feeds-preview"></div>
            </div>
        </div>
    </div>

    <script>
        function backhome() {
            location.replace('/')
        }

        $('#profile-modify').click(function () {
            $('#profile-modify-screen').css({
                display: 'flex'
            });
        })

        $('.material-icons-outlined').click(function () {
            $('.modal_overlay').css({
                display: 'none'
            });
        })

        function modify_nickname() {
            $('.nc-2').css({
                display: 'flex'
            });
            $('.nc-1').css({
                display: 'none'
            });
        }

        function confirm_nickname() {
            $('.nc-1').css({
                display: 'flex'
            });
            $('.nc-2').css({
                display: 'none'
            });
        }

        function modify() {
            let form_data = new FormData()
            let file = $('#file')[0].files[0]
            let nickname = $('#input-nickname').val()
            let self_introduce = $('#self_introduce').val()
            form_data.append('file', file);
            form_data.append('nickname', nickname);
            form_data.append('self_introduce', self_introduce);
            $.ajax({
                type: "POST",
                url: "/mypage",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function cancel() {
            $('.modal_overlay').css({
                display: 'none'
            });
        }
    </script>

</body>
</html>